<div class="container">

<img src="../../../../assets/images/contact.svg" alt="">


<div class="form">
<h1>¿Quienes somos?</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora commodi vel porro amet. Accusantium corporis iure similique incidunt alias molestiae necessitatibus, est nesciunt quo atque delectus quas sequi sapiente officiis.</p>
<img class="medio" src="./../../../../assets/images/angular.jpg" alt="">
</div>

<div>
  
  <h1>Si tienes alguna duda contactanos!</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam quo nam, hic sint necessitatibus minus. </p>
  <mat-list>
    <mat-list-item><mat-icon>place</mat-icon><b>Ubicación:&nbsp;</b> Lorem ipsum dolor sit.</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>call</mat-icon><b>Teléfono:&nbsp;</b>+571205547896</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>email</mat-icon><b>&nbsp;Email:&nbsp;</b>example@gmail.com</mat-list-item>
  </mat-list> 
</div>


<div class="parent">
  <form class="example-form">
    
    <h1 style="text-align: center; background-color:#FDF9F8;">Formulario de contacto</h1>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td>
         
          <mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
          <mat-label>Nombres y apellidos</mat-label>
          <input matInput>
          
        </mat-form-field></td>
        
        </table>
        
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="+571234567890">
        </mat-form-field></td>
      </table>
      <table>
        <td><mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
          <mat-label>Gmail</mat-label>
          <input matInput #Gmail placeholder="example@gmail.com" value="">
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </td>
      <tr>
          <mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
              <mat-label>Message</mat-label>
              <input matInput #message maxlength="256" placeholder="Necesito información sobre...">
              <mat-hint align="start"><strong>No uses información personal</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
      </tr>
     <button type="button" mat-button (click)="openDialog()" style="width: 400px;" mat-raised-button color="primary">Enviar</button>
    
    
      
      </table>
    </form>
    
  </div>


</div>


<!-- <div class="form">
 <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><img class="imagen" src="../../../../assets/images/contact.jpg" alt=""></mat-grid-tile>
  <mat-grid-tile>

   


  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile><form class="example-form">
    <h1>Formulario de contacto</h1>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombres y apellidos</mat-label>
        <input matInput>
      </mat-form-field></td>
      
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ciudad</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
 
  
    <table class="example-full-width" cellspacing="0"><tr>
     
       
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="+571234567890">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gmail</mat-label>
        <input matInput #Gmail placeholder="example@gmail.com" value="">
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
    </td>
    <tr>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput #message maxlength="256" placeholder="Necesito información sobre...">
            <mat-hint align="start"><strong>No uses información personal</strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>
    </tr>
    <a type="button"> 
      <mat-icon>send</mat-icon>Enviar
    </a>
    </table>
  </form></mat-grid-tile>
</mat-grid-list>

</div>
 -->