<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Productos</ng-template>
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Your products</ng-template>
            <div *ngIf="(products$ | async) as products">
              <!-- No hay productos -->
              <p *ngIf="products.length === 0" class="tienda">
                <img src="./../../../../assets/images/tienda.webp" alt="" >
                <b>No tienes ningun producto</b>
              </p>
              <!-- Productos -->
              <mat-card *ngFor="let product of (products|removeDoubleProducts) as productsWithoutDuplicates">
                <div *ngIf="(1 | countingProducts: product:products) as count">
                  <mat-card-header>
                    <img mat-card-avatar [src]="product.image">
                    <mat-card-title>{{ product.title }} ({{ 1 | countingProducts: product:products }})</mat-card-title>
                    <mat-card-subtitle>{{ product.price * count | currency }}</mat-card-subtitle>
                  </mat-card-header>
                  <!-- Control de cantidad de productos -->
                  <div>
                    <button mat-mini-fab color="primary" class="quantity-button" [disabled]="count===1"
                      (click)="remove(product.id)"> - </button>
                    <button mat-mini-fab color="primary" class="quantity-button" (click)="addCart(product)"> + </button>
                  </div>
                  <!-- Acciones -->
                  <mat-card-actions>
                    <button mat-button color="primary" (click)="removeFromCart(product.id)">Eliminar</button>
                  </mat-card-actions>
                </div>
              </mat-card>
              <!-- Total -->
              <div *ngIf="products.length !== 0">
                <mat-divider></mat-divider>
                <h2>Total: {{ totalAmount() | currency }}</h2>
              </div>
            </div>
          </form>
    </mat-step>
    
    <!-- Formulario -->
    <div class="parent" *ngIf="(products$ | async) as products">
    <mat-step *ngIf="products.length >=1">
        <ng-template matStepLabel>Datos personales</ng-template>
       
           <div class="Formulario">
            <img src="./../../../../assets/images/comprar.webp" alt="" width = 410;>
            <form class="example-form">
                <br><br>
              
              <h1>Formulario de contacto</h1>
              
                <table class="example-full-width" cellspacing="0"><tr>
                  <td>
                   
                    <mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
                    <mat-label>Nombres y apellidos</mat-label>
                    <input matInput>
                    
                  </mat-form-field></td>
                  
                  </table>
                  
                <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input matInput placeholder="+571234567890">
                  </mat-form-field></td>
                </table>
                <table>
                  <td><mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
                    <mat-label>Gmail</mat-label>
                    <input matInput #Gmail placeholder="example@gmail.com" value="">
                    <mat-hint align="end"></mat-hint>
                  </mat-form-field>
                </td>
                <tr>
                    <mat-form-field style="width: 400px;" class="example-full-width" appearance="fill">
                        <mat-label>Message</mat-label>
                        <input matInput #message maxlength="256" placeholder="Necesito información sobre...">
                        <mat-hint align="start"><strong>No uses información personal</strong> </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                      </mat-form-field>
                </tr>

                </table>
              </form>
            
            </div>
    </mat-step>
</div>
<div class="parent" *ngIf="(products$ | async) as products">
    <mat-step *ngIf="products.length >=1">

        <ng-template matStepLabel>Informacion del envio</ng-template>
        <p>PRODUCTS</p>
    </mat-step>
</div>
</mat-horizontal-stepper>
